.navbar-dark {
  background-color: #512DA8;
  margin-bottom: 100px;
}

.estimate_button {
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 50px;
}

.centre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main {
  margin-bottom: 50px;
}
